## Functions used in Machine Learning

In [9]:
from sklearn import preprocessing
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os

/home/liy/anaconda3/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)

In [4]:
iris_path = 'iris.data'
df = pd.read_csv(iris_path, na_values=['NA', '?'], header=None)

In [13]:
# encode the classes(setosa, versicolor, virginica) into [1,0,0], [0,1,0], [0,0,1]
# and store the classes by n(donate the number of the classes) fields
def encode_text_dummy(df, name):
    dummies = pd.get_dummies(df[name])
    
    for x in dummies.columns:
        dummy_name = '{}-{}'.format(str(name), str(x))
        df[dummy_name] = dummies[x]
    df.drop(name, axis=1, inplace=True)
    
# encode the classes  into the binary type, 1 if the class is target class, nor 0
def encode_text_single_dummy(df, name, target_vals):
    for val in target_vals:
        is_value = lambda x: 1 if str(x) == str(val) else 0
        val_name = 'dummy-%s'%val
        df[dummy_name] = df[name].apply(is_value)
    
# encode the classes(setosa, versicolor, virginica) into 1, 2, 3
def encode_text_index(df, name):
    le = preprocessing.LabelEncoder()
    encode_name = 'le-%s'%name
    df[encode_name] = le.fit_transform(df[name])
    return le.classes_

In [14]:
encode_text_index(df, 4)

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [16]:
df[:10]

     0    1    2    3            4  le-4
0  5.1  3.5  1.4  0.2  Iris-setosa     0
1  4.9  3.0  1.4  0.2  Iris-setosa     0
2  4.7  3.2  1.3  0.2  Iris-setosa     0
3  4.6  3.1  1.5  0.2  Iris-setosa     0
4  5.0  3.6  1.4  0.2  Iris-setosa     0
5  5.4  3.9  1.7  0.4  Iris-setosa     0
6  4.6  3.4  1.4  0.3  Iris-setosa     0
7  5.0  3.4  1.5  0.2  Iris-setosa     0
8  4.4  2.9  1.4  0.2  Iris-setosa     0
9  4.9  3.1  1.5  0.1  Iris-setosa     0